body {
  background: #000;
  color: #111;
  font-family: 'Helvetica Neue', Helvetica, Arial, Geneva, sans-serif;
  font-size: 32px;
  font-weight: bold;
}

div#loading {
    width: 40px;
    height: 40px;
    margin: 0 auto;
    margin-top: 20px;
}

div#description {
  font-size: 12px;
  font-weight: normal;
  color: #ccc;
  text-align: right;
  padding: 2px;
  width: 90%;
  margin: 0 auto;
}

table {
    width: 90%;
    border-collapse: collapse;
    margin: 40px auto 10px;
    border: solid 4px #222;
}

td.lineNumber { width: 20%; }
td.time { width: 20%; }
td.destination { width: 60%; }

td {
    background: #ccc;
    border-color: #222;
    border-style: solid;
    border-width: 4px 2px 4px 2px;
    padding: 8px;
}
